<a href="https://colab.research.google.com/github/elsonyeh/computer-programming-and-application/blob/main/EX03_04_%E8%96%AA%E6%83%85%E5%B9%B3%E5%8F%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- Dataset: https://earnings.dgbas.gov.tw/
!wget -O earning.xlsx https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-earnings.xlsx

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/imchihchao/aop113b/main/materials/03-earnings.xlsx'
df = pd.read_excel(url)
df

/usr/local/lib/python3.11/dist-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 0,Unnamed: 1,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
0,NaN,NaN,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計
1,NaN,NaN,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值
2,每人每月總薪資(新臺幣元),81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,-,35670,20463,21485
3,NaN,82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,-,37176,21124,22150
4,NaN,83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,-,39633,22133,23205
5,NaN,84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,-,41623,22116,25077
6,NaN,85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,-,44797,23532,25846
7,NaN,86年,38545,35408,80437,40281,37029,36406,42717,23528,58831,60597,40666,44042,35394,-,47378,24894,26929
8,NaN,87年,40083,36438,88192,41708,37886,37696,44076,24040,61421,59546,41719,45393,34814,-,48920,26256,29530
9,NaN,88年,41432,37746,91265,44729,38070,38695,45074,25117,61260,60332,44429,47349,34920,-,51020,26524,30825
10,NaN,89年,43066,38922,91805,44341,38897,39541,45951,26060,62759,60872,43716,48628,35277,-,53397,27592,31335
11,NaN,90年,44068,38420,97399,46002,37746,39775,48019,25973,62100,62657,42277,48812,35579,-,54484,28338,29927
12,NaN,91年,44804,38444,93466,43917,36844,39152,46512,25687,59239,65703,40896,45653,34605,-,53841,27889,29236
13,NaN,92年,47720,39558,95191,43954,37214,39610,45936,24951,60292,64645,40431,47411,32871,-,55702,27666,28947
14,NaN,93年,46307,40666,94525,42880,37916,39819,46884,24812,59417,66671,39781,49292,32707,-,55341,29662,29421
15,NaN,94年,47671,41868,91184,47647,38450,39546,48516,25121,61381,65113,38819,50871,32815,-,55604,29898,30384
16,NaN,95年,53344,42403,97230,47251,39168,39380,48340,24960,61134,69054,38313,51721,32622,-,55430,31303,30203
17,NaN,96年,50949,43240,98519,44399,40310,39463,49095,25476,63738,75824,37874,53144,33102,-,56614,31414,29925
18,NaN,97年,51333,43297,89432,44521,40754,39956,49583,26699,63812,71520,40340,54169,32916,-,58134,31931,29314
19,NaN,98年,49448,39525,96285,44042,40870,40081,47909,27106,61932,67713,39032,49426,31249,22197,57858,31242,29738
20,NaN,99年,52551,43152,96523,45106,41599,41766,49009,27788,64330,74219,42093,52141,32064,22459,57897,32687,30832
21,NaN,100年,53978,44603,95382,45828,42716,42562,50330,29715,66376,76920,43783,54097,32855,22416,59900,33236,32526
22,NaN,101年,52752,45318,92871,43675,42683,41530,50327,29961,66998,77960,41546,54884,33214,22773,60770,35446,32618
23,NaN,102年,54871,45685,88934,44143,42540,41425,49929,30119,65660,77855,42165,53655,33243,22923,61362,36070,33069
24,NaN,103年,54093,47455,94111,44919,43251,43119,50142,31225,66613,83071,44786,55169,34177,24226,63750,35829,34556
25,NaN,104年,57198,49374,96595,44357,43346,43747,51369,31986,66879,84718,44075,55735,34881,24304,67676,36184,33996
26,NaN,105年,55425,49969,94453,43216,42839,43614,52275,31870,68127,85417,42897,55844,35189,24876,69903,36821,33611
27,NaN,106年,55339,51853,94764,44170,42506,45568,53204,32896,69466,86395,44840,56874,35669,25287,70612,37522,33987
28,NaN,107年,56967,54567,96230,45074,43645,47132,54813,33558,69835,89238,47552,57945,36446,26032,71569,38799,35116
29,NaN,108年,58510,55816,96389,45403,44833,48594,55348,34112,71863,93081,50267,62377,36994,30521,65828,39608,35844
30,NaN,109年,58585,56538,94761,44913,45622,49087,54834,34496,73631,94557,53937,62949,37240,31068,65278,40685,36564
31,NaN,110年,58076,60545,94111,44532,47468,48507,57271,34884,75186,99209,57014,63507,37466,31535,64522,38737,36402
32,NaN,111年,60857,63324,96077,45191,48545,49404,61933,36109,78601,100543,56842,65471,37930,32449,66795,40009,38045
33,NaN,112年,61765,62492,96596,46328,49477,51159,61957,37662,80434,98243,55337,66841,39193,33433,68516,41508,39599
34,NaN,113年,63898,65574,96669,48030,51176,53797,65305,38555,83803,107348,57068,68471,40640,34121,68900,42697,40129
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,註:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1. 本項統計涵蓋範圍自98年1月起新增「教育業（僅含教育輔助及其他教育業）」，自108年1...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2. 因108年行業擴增幅度較大，為比較基礎一致，當年數據不與前一年資料進行比較。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###資料清理（去除空值欄列、重設欄名、重設列索引）

In [2]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [ ]:
df.dropna(subset=['Unnamed: 1'], inplace=True)

In [3]:
df.rename(columns={'Unnamed: 1': '年度'}, inplace=True)

In [4]:
df.set_index('年度', inplace=True)
df

,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
年度,,,,,,,,,,,,,,,,,
NaN,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計,總計
NaN,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值,統計值
81年,31937,26942,60937,31017,30825,28152,32272,18209,44519,46380,39911,37285,25708,-,35670,20463,21485
82年,32875,28826,64897,33927,33638,30548,34769,18950,48782,50034,42402,39900,27785,-,37176,21124,22150
83年,33887,30752,69330,38065,34379,32089,36712,20373,52229,56462,42056,39730,29018,-,39633,22133,23205
84年,35633,32494,71940,39072,35278,34149,39260,22317,54649,54658,40614,41436,32927,-,41623,22116,25077
85年,37354,33839,79953,39304,35817,34905,40985,22198,55873,56887,40445,41642,33649,-,44797,23532,25846
86年,38545,35408,80437,40281,37029,36406,42717,23528,58831,60597,40666,44042,35394,-,47378,24894,26929
87年,40083,36438,88192,41708,37886,37696,44076,24040,61421,59546,41719,45393,34814,-,48920,26256,29530
88年,41432,37746,91265,44729,38070,38695,45074,25117,61260,60332,44429,47349,34920,-,51020,26524,30825
89年,43066,38922,91805,44341,38897,39541,45951,26060,62759,60872,43716,48628,35277,-,53397,27592,31335
90年,44068,38420,97399,46002,37746,39775,48019,25973,62100,62657,42277,48812,35579,-,54484,28338,29927
91年,44804,38444,93466,43917,36844,39152,46512,25687,59239,65703,40896,45653,34605,-,53841,27889,29236
92年,47720,39558,95191,43954,37214,39610,45936,24951,60292,64645,40431,47411,32871,-,55702,27666,28947
93年,46307,40666,94525,42880,37916,39819,46884,24812,59417,66671,39781,49292,32707,-,55341,29662,29421
94年,47671,41868,91184,47647,38450,39546,48516,25121,61381,65113,38819,50871,32815,-,55604,29898,30384
95年,53344,42403,97230,47251,39168,39380,48340,24960,61134,69054,38313,51721,32622,-,55430,31303,30203
96年,50949,43240,98519,44399,40310,39463,49095,25476,63738,75824,37874,53144,33102,-,56614,31414,29925
97年,51333,43297,89432,44521,40754,39956,49583,26699,63812,71520,40340,54169,32916,-,58134,31931,29314
98年,49448,39525,96285,44042,40870,40081,47909,27106,61932,67713,39032,49426,31249,22197,57858,31242,29738
99年,52551,43152,96523,45106,41599,41766,49009,27788,64330,74219,42093,52141,32064,22459,57897,32687,30832
100年,53978,44603,95382,45828,42716,42562,50330,29715,66376,76920,43783,54097,32855,22416,59900,33236,32526
101年,52752,45318,92871,43675,42683,41530,50327,29961,66998,77960,41546,54884,33214,22773,60770,35446,32618
102年,54871,45685,88934,44143,42540,41425,49929,30119,65660,77855,42165,53655,33243,22923,61362,36070,33069
103年,54093,47455,94111,44919,43251,43119,50142,31225,66613,83071,44786,55169,34177,24226,63750,35829,34556
104年,57198,49374,96595,44357,43346,43747,51369,31986,66879,84718,44075,55735,34881,24304,67676,36184,33996
105年,55425,49969,94453,43216,42839,43614,52275,31870,68127,85417,42897,55844,35189,24876,69903,36821,33611
106年,55339,51853,94764,44170,42506,45568,53204,32896,69466,86395,44840,56874,35669,25287,70612,37522,33987
107年,56967,54567,96230,45074,43645,47132,54813,33558,69835,89238,47552,57945,36446,26032,71569,38799,35116
108年,58510,55816,96389,45403,44833,48594,55348,34112,71863,93081,50267,62377,36994,30521,65828,39608,35844
109年,58585,56538,94761,44913,45622,49087,54834,34496,73631,94557,53937,62949,37240,31068,65278,40685,36564
110年,58076,60545,94111,44532,47468,48507,57271,34884,75186,99209,57014,63507,37466,31535,64522,38737,36402
111年,60857,63324,96077,45191,48545,49404,61933,36109,78601,100543,56842,65471,37930,32449,66795,40009,38045
112年,61765,62492,96596,46328,49477,51159,61957,37662,80434,98243,55337,66841,39193,33433,68516,41508,39599
113年,63898,65574,96669,48030,51176,53797,65305,38555,83803,107348,57068,68471,40640,34121,68900,42697,40129
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for col in df.columns:
  df[col] = pd.to_numeric(df[col], errors='coerce')
df

,礦業及土石採取業,製造業,電力及燃氣供應業,用水供應及污染整治業,營建工程業,批發及零售業,運輸及倉儲業,住宿及餐飲業,出版影音及資通訊業,金融及保險業,不動產業,專業﹑科學及技術服務業,支援服務業,教育業（不含小學以上各級公私立學校等）,醫療保健及社會工作服務業,藝術﹑娛樂及休閒服務業,其他服務業
年度,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81年,31937.0,26942.0,60937.0,31017.0,30825.0,28152.0,32272.0,18209.0,44519.0,46380.0,39911.0,37285.0,25708.0,NaN,35670.0,20463.0,21485.0
82年,32875.0,28826.0,64897.0,33927.0,33638.0,30548.0,34769.0,18950.0,48782.0,50034.0,42402.0,39900.0,27785.0,NaN,37176.0,21124.0,22150.0
83年,33887.0,30752.0,69330.0,38065.0,34379.0,32089.0,36712.0,20373.0,52229.0,56462.0,42056.0,39730.0,29018.0,NaN,39633.0,22133.0,23205.0
84年,35633.0,32494.0,71940.0,39072.0,35278.0,34149.0,39260.0,22317.0,54649.0,54658.0,40614.0,41436.0,32927.0,NaN,41623.0,22116.0,25077.0
85年,37354.0,33839.0,79953.0,39304.0,35817.0,34905.0,40985.0,22198.0,55873.0,56887.0,40445.0,41642.0,33649.0,NaN,44797.0,23532.0,25846.0
86年,38545.0,35408.0,80437.0,40281.0,37029.0,36406.0,42717.0,23528.0,58831.0,60597.0,40666.0,44042.0,35394.0,NaN,47378.0,24894.0,26929.0
87年,40083.0,36438.0,88192.0,41708.0,37886.0,37696.0,44076.0,24040.0,61421.0,59546.0,41719.0,45393.0,34814.0,NaN,48920.0,26256.0,29530.0
88年,41432.0,37746.0,91265.0,44729.0,38070.0,38695.0,45074.0,25117.0,61260.0,60332.0,44429.0,47349.0,34920.0,NaN,51020.0,26524.0,30825.0
89年,43066.0,38922.0,91805.0,44341.0,38897.0,39541.0,45951.0,26060.0,62759.0,60872.0,43716.0,48628.0,35277.0,NaN,53397.0,27592.0,31335.0
90年,44068.0,38420.0,97399.0,46002.0,37746.0,39775.0,48019.0,25973.0,62100.0,62657.0,42277.0,48812.0,35579.0,NaN,54484.0,28338.0,29927.0
91年,44804.0,38444.0,93466.0,43917.0,36844.0,39152.0,46512.0,25687.0,59239.0,65703.0,40896.0,45653.0,34605.0,NaN,53841.0,27889.0,29236.0
92年,47720.0,39558.0,95191.0,43954.0,37214.0,39610.0,45936.0,24951.0,60292.0,64645.0,40431.0,47411.0,32871.0,NaN,55702.0,27666.0,28947.0
93年,46307.0,40666.0,94525.0,42880.0,37916.0,39819.0,46884.0,24812.0,59417.0,66671.0,39781.0,49292.0,32707.0,NaN,55341.0,29662.0,29421.0
94年,47671.0,41868.0,91184.0,47647.0,38450.0,39546.0,48516.0,25121.0,61381.0,65113.0,38819.0,50871.0,32815.0,NaN,55604.0,29898.0,30384.0
95年,53344.0,42403.0,97230.0,47251.0,39168.0,39380.0,48340.0,24960.0,61134.0,69054.0,38313.0,51721.0,32622.0,NaN,55430.0,31303.0,30203.0
96年,50949.0,43240.0,98519.0,44399.0,40310.0,39463.0,49095.0,25476.0,63738.0,75824.0,37874.0,53144.0,33102.0,NaN,56614.0,31414.0,29925.0
97年,51333.0,43297.0,89432.0,44521.0,40754.0,39956.0,49583.0,26699.0,63812.0,71520.0,40340.0,54169.0,32916.0,NaN,58134.0,31931.0,29314.0
98年,49448.0,39525.0,96285.0,44042.0,40870.0,40081.0,47909.0,27106.0,61932.0,67713.0,39032.0,49426.0,31249.0,22197.0,57858.0,31242.0,29738.0
99年,52551.0,43152.0,96523.0,45106.0,41599.0,41766.0,49009.0,27788.0,64330.0,74219.0,42093.0,52141.0,32064.0,22459.0,57897.0,32687.0,30832.0
100年,53978.0,44603.0,95382.0,45828.0,42716.0,42562.0,50330.0,29715.0,66376.0,76920.0,43783.0,54097.0,32855.0,22416.0,59900.0,33236.0,32526.0
101年,52752.0,45318.0,92871.0,43675.0,42683.0,41530.0,50327.0,29961.0,66998.0,77960.0,41546.0,54884.0,33214.0,22773.0,60770.0,35446.0,32618.0
102年,54871.0,45685.0,88934.0,44143.0,42540.0,41425.0,49929.0,30119.0,65660.0,77855.0,42165.0,53655.0,33243.0,22923.0,61362.0,36070.0,33069.0
103年,54093.0,47455.0,94111.0,44919.0,43251.0,43119.0,50142.0,31225.0,66613.0,83071.0,44786.0,55169.0,34177.0,24226.0,63750.0,35829.0,34556.0
104年,57198.0,49374.0,96595.0,44357.0,43346.0,43747.0,51369.0,31986.0,66879.0,84718.0,44075.0,55735.0,34881.0,24304.0,67676.0,36184.0,33996.0
105年,55425.0,49969.0,94453.0,43216.0,42839.0,43614.0,52275.0,31870.0,68127.0,85417.0,42897.0,55844.0,35189.0,24876.0,69903.0,36821.0,33611.0
106年,55339.0,51853.0,94764.0,44170.0,42506.0,45568.0,53204.0,32896.0,69466.0,86395.0,44840.0,56874.0,35669.0,25287.0,70612.0,37522.0,33987.0
107年,56967.0,54567.0,96230.0,45074.0,43645.0,47132.0,54813.0,33558.0,69835.0,89238.0,47552.0,57945.0,36446.0,26032.0,71569.0,38799.0,35116.0
108年,58510.0,55816.0,96389.0,45403.0,44833.0,48594.0,55348.0,34112.0,71863.0,93081.0,50267.0,62377.0,36994.0,30521.0,65828.0,39608.0,35844.0
109年,58585.0,56538.0,94761.0,44913.0,45622.0,49087.0,54834.0,34496.0,73631.0,94557.0,53937.0,62949.0,37240.0,31068.0,65278.0,40685.0,36564.0
110年,58076.0,60545.0,94111.0,44532.0,47468.0,48507.0,57271.0,34884.0,75186.0,99209.0,57014.0,63507.0,37466.0,31535.0,64522.0,38737.0,36402.0
111年,60857.0,63324.0,96077.0,45191.0,48545.0,49404.0,61933.0,36109.0,78601.0,100543.0,56842.0,65471.0,37930.0,32449.0,66795.0,40009.0,38045.0
112年,61765.0,62492.0,96596.0,46328.0,49477.0,51159.0,61957.0,37662.0,80434.0,98243.0,55337.0,66841.0,39193.0,33433.0,68516.0,41508.0,39599.0
113年,63898.0,65574.0,96669.0,48030.0,51176.0,53797.0,65305.0,38555.0,83803.0,107348.0,57068.0,68471.0,40640.0,34121.0,68900.0,42697.0,40129.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, nan to nan
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   礦業及土石採取業             33 non-null     float64
 1   製造業                  33 non-null     float64
 2   電力及燃氣供應業             33 non-null     float64
 3   用水供應及污染整治業           33 non-null     float64
 4   營建工程業                33 non-null     float64
 5   批發及零售業               33 non-null     float64
 6   運輸及倉儲業               33 non-null     float64
 7   住宿及餐飲業               33 non-null     float64
 8   出版影音及資通訊業            33 non-null     float64
 9   金融及保險業               33 non-null     float64
 10  不動產業                 33 non-null     float64
 11  專業﹑科學及技術服務業          33 non-null     float64
 12  支援服務業                33 non-null     float64
 13  教育業（不含小學以上各級公私立學校等）  16 non-null     float64
 14  醫療保健及社會工作服務業         33 non-null     float64
 15  藝術﹑娛樂及休閒服務業          33 non-null     float64
 16  其他服務業                33 non-null     float64
dtypes: float64(17)
memory usage: 5.5+ KB

###找出 81 年薪水最高和最低分別是什麼行業

In [7]:
df.loc['81年'].idxmax(), df.loc['81年'].max()

('電力及燃氣供應業', 60937.0)

In [ ]:
df.loc['81年'].idxmin(), df.loc['81年'].min()

In [8]:
df.loc['81年'].mean()

np.float64(33232.0)

###找出 醫療保健及社會工作服務業 最高是那一年

In [9]:
df['醫療保健及社會工作服務業'].idxmax(), df['醫療保健及社會工作服務業'].max()

('107年', 71569.0)

###找出 113 年薪水最高和最低的前三名分別是什麼行業

In [10]:
df.loc['113年'].nlargest(3)

金融及保險業       107348.0
電力及燃氣供應業      96669.0
出版影音及資通訊業     83803.0
Name: 113年, dtype: float64

In [11]:
df.loc['113年'].nsmallest(3)

教育業（不含小學以上各級公私立學校等）    34121.0
住宿及餐飲業                 38555.0
其他服務業                  40129.0
Name: 113年, dtype: float64

### 找出歷年薪水最高的前三名

In [16]:
df.dropna(axis=0, how='all', inplace=True)
for id in df.index:
  print(id, df.loc[id].nlargest(3).index.to_list())

81年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
82年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
83年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
84年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
85年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
86年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
87年 ['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業']
88年 ['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業']
89年 ['電力及燃氣供應業', '出版影音及資通訊業', '金融及保險業']
90年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
91年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
92年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
93年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
94年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
95年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
96年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
97年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
98年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
99年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
100年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
101年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
102年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
103年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
104年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
105年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
106年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
107年 ['電力及燃氣供應業', '金融及保險業', '醫療保健及社會工作服務業']
108年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
109年 ['電力及燃氣供應業', '金融及保險業', '出版影音及資通訊業']
110年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']
111年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']
112年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']
113年 ['金融及保險業', '電力及燃氣供應業', '出版影音及資通訊業']

In [17]:
for id in df.index:
  print(id, df.loc[id].nsmallest(3).index.to_list())

81年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
82年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
83年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
84年 ['藝術﹑娛樂及休閒服務業', '住宿及餐飲業', '其他服務業']
85年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
86年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
87年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
88年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
89年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
90年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
91年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
92年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
93年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
94年 ['住宿及餐飲業', '藝術﹑娛樂及休閒服務業', '其他服務業']
95年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
96年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
97年 ['住宿及餐飲業', '其他服務業', '藝術﹑娛樂及休閒服務業']
98年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
99年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
100年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
101年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
102年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
103年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業']
104年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
105年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
106年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
107年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
108年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
109年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
110年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']
111年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業']
112年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '支援服務業']
113年 ['教育業（不含小學以上各級公私立學校等）', '住宿及餐飲業', '其他服務業']